/* informacja na gorze sklepu */
#InfoTop { position:fixed; left:0; top:0; width:100%; background:#ff0000; z-index:1005; opacity:0.8; text-align:center; }
#InfoTop span { color:#ffffff; display:inline-block; padding:25px; }