/* ukrywanie modulu dla malych rozdzielczosci --- nie zmieniac nazwy styli, nie usuwac --- */
@media only screen and (max-width:1023px) {
  /* klasa do ukrywania modulu */
  .ModulRwdUkryj { display:none; }
}
@media only screen and (min-width:1024px) {
  /* klasa do ukrywania modulu dla duzych rozdzielczosci */
  .ModulMobileRwdWyswietl { display:none; }
}

/* newsletter */
.ModulNewsletter { border:1px solid var(--kolor-linia); background:var(--kolor-tlo-modul); line-height:1.5; margin:10px 0 20px 0; padding:15px; text-align:center; }
.ModulNewsletter strong { background:url('../szablony/standardowy.rwd.v2/obrazki/szablon/newsletter.svg') no-repeat left center; background-size:50px 42px; padding:8px 0 5px 60px; display:inline-block; font-size:250%; text-transform:uppercase; }
.ModulNewsletter p span:first-child { font-size:115%; letter-spacing:1px; }
.ModulNewsletter #emailNewsletterModul { max-width:50%; width:50%; margin:0 auto; margin-top:10px; margin-bottom:20px; padding:12px; }
@media only screen and (max-width:799px) {
  .ModulNewsletter strong { font-size:180%; background-size:80px 50px; background-position:top center; padding:60px 0 0 0; }
  .ModulNewsletter p span:first-child { font-size:100%; }
  .ModulNewsletter #emailNewsletterModul { max-width:80%; width:80%; }
}
.ModulNewsletter span { display:block; margin:0; }
.ModulNewsletter small { display:flex; justify-content:center; color:var(--kolor-szary-ciemny-2); }
.ModulNewsletter .PoleZgodNewsletterModul { margin:10px 0 10px 0; }
#BladDanychNewsletterModul { text-align:center !important; }
#BladDanychNewsletterModul .error { display:inline-block; }

/* wyglad bannerow statycznych */
.BanneryStatyczne { display:block; text-align:center; margin:5px; }